# Maven
target/
pom.xml.tag
pom.releaseBackup
release.properties

# Build
*.class
*.jar
*.war
*.ear
*.log

# IDE
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.factorypath

# OS
.DS_Store
Thumbs.db

# Cursor / editor
.cursor/
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile
/.m2/repository
